@media (min-width: 769px) {
    .grillas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}
@media (min-width: 769px) {
    .grillas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    
    .imagen-centrada {
        width: 100%; 
        height: auto; }




        .proyectos {
            grid-template-columns: 1fr;
        }
    
        .proyectos .div1p, .proyectos .div2p, .proyectos .div3p {
            width: 100%;}        
}
